.podcast-preview {
    margin: 3rem 0;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.8rem;
    }

    &__title {
        font-size: 1.6rem;
        color: rgba($color: #000000, $alpha: .65);
        font-weight: 900;
    }

    &__see {
        font-size: .9rem;
        font-weight: 600;
        color: rgba($color: #000000, $alpha: .4);

        &.coluna-see {
            font-size: 2rem;
            line-height: 0;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }
}

.coluna {
    flex-direction: column;
}