.App {
  width: 100vw;
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "left center right";
  grid-template-columns: 3fr 10fr 4fr;
}

.left {
  grid-area: left;
}

.center {
  grid-area: center;
}

.right {
  grid-area: right;
  padding: 1rem 5rem;
}
